body {
  background: rgb(93, 76, 70);
  background: linear-gradient(
    0deg,
    rgba(93, 76, 70, 1) 0%,
    rgba(143, 119, 111, 1) 100%
  );
  font-family: "Edu VIC WA NT Beginner", system-ui;
  text-align: center;
}

h2 {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
}
p {
  color: #ffffff;
  font-size: 25px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}

img {
  border-radius: 10px;
  width: 500px;
  height: 500px;
  object-fit: cover;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin-bottom: 90px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 5px #00000041;
  transition: 0.3s ease-in-out;
}

a {
  text-decoration: none;
  color: #401b1b;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: #401b1b;
}

button:hover a {
  color: #ffffff;
}
